<ion-header class="page-header-custom bg_blue_alice">
    <ion-navbar>
        <!-- <button right ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="txt_center">
      <div class="w100 h100 dis-t">
        <div class="dis-tc ver-mid">
          <div class="color_blue_midnight">
            <div class="ver-sup ib page-header-custom-title txt_bold">
              SIGN IN VEHICLE
            </div>
          </div>
        </div>
      </div>
    </ion-title> -->
        <button right ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>

            <div class="color_blue_midnight">
                <img src="assets/img/logo_app.png" alt="" class="logo-header ver-sub">
                <div class="ver-sup ib mg-left-10 page-header-custom-title txt_bold">
                    STAFF APP
                </div>
            </div>
        </ion-title>
    </ion-navbar>

    <div padding class="w100 h50px bg_blue_royal" *ngIf="isVehicleSignedIn == true" (click)="openSignOutDialog()">
        <div class="ib ver-mid w25px">
            <img src="assets/img/signin_spot.png" alt="">
        </div>

        <div class="txt_white ib ver-mid">
            {{global.translate('Signed in')}} : {{ signedin_vehicle_name }}
        </div>
    </div>

    <ion-item class="search_box" padding>
        <ion-label margin>
            <i class="icon icon-Search"></i>
        </ion-label>

        <ion-input type="text" class="" [placeholder]="global.translate('Search Vehicle')" [(ngModel)]="search" value="{{search}}" (ionChange)="sendSearch(search)"></ion-input>
    </ion-item>

</ion-header>

<ion-content>

    <ion-item class="vehicle_item" *ngFor="let v of vehicleList; let isOdd = odd" [style.background]="isOdd ? '#f8f8f8':''" (click)="openSignInDialog(v)">
        {{v.vehicle_reg}}
    </ion-item>

</ion-content>