
<ion-header class="page-header-custom">
    <!-- Close Button -->
    <div class="w100 add_company_header">
        <div class="txt_center txt_white w10 fr bg_darkblue btn_close_modal" (click)="closeModal()">
            X
        </div>
    </div>
</ion-header>

<ion-content class="add_company">    
    <!-- Code -->
    <div class="w100 pos-in" *ngIf="next != true">

        <div class="w100 pd_hang_center txt_center hinherit">

            <ion-input *ngIf="found_company != true" type="text" class="w100 ib hinherit" placeholder="Code" [(ngModel)]="companyCode" ></ion-input>
            <div *ngIf="found_company != true" class="mg-top5percent txt_center w100 ib bg_darkblue txt_white fr w20 hinherit pd1" (click)="findCompany(companyCode)">
                SEARCH <i class="fr icon icon-Search" ></i>
            </div>
            

            <ion-input *ngIf="found_company == true" type="text" disabled="true" class="w100 ib hinherit" placeholder="Code" value="{{company_name}}" ></ion-input>
            <div *ngIf="found_company == true" class="mg-top5percent txt_center w100 ib bg_darkblue txt_white fr w20 hinherit pd1" (click)="next = true; expandBox()">
                NEXT
            </div>
        </div>
    </div>

    <div *ngIf="next == true">
        <div class="w100 mg-top10" padding>
            <span class="txt_bold fl">{{company_name}}</span>
        </div>

        <!-- Username/Password -->
        <div padding class="w100 pd-no-bottom">

            <div class="w100 txt_center hinherit">
                <ion-input type="text" class="w100 ib hinherit" placeholder="Username" [(ngModel)]="username"></ion-input>
                <ion-input type="password" class="w100 mg-top10 ib hinherit" placeholder="Password" [(ngModel)]="password"></ion-input>
            </div>

            <!-- Apply Button -->
            <button class="btn_blue" ion-button block (click)="apply(company_name, companyCode, 0, username, password)">LOGIN</button>

        </div> 
    </div>
</ion-content>