<!--
  Generated template for the PassengerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="page-header-custom bg_blue_alice">

    <ion-navbar>
        <button right ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>
            <div class="color_blue_midnight">
                PASSENGERS LIST
            </div>

        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText=""></ion-refresher-content>
    </ion-refresher> -->
    <ion-grid style="padding:0px;">
        <input type="text" id="rfRead" style="visibility:hidden;height:0px;" />
        <ion-item class="search_box" padding>
            <ion-label margin>
                <i class="icon icon-Search"></i>
            </ion-label>
            <ion-input type="text" [(ngModel)]="searchInput" name="searchInput" (keyup)="searchPassengers($event)" [placeholder]="global.translate('Search Passenger')"></ion-input>

        </ion-item>

        <ion-row>
            <ion-col col-12 class="h7percent bg_blue_royal txt_center txt_white pd4percent f-size-15px">
                {{global.translate('PASSENGERS')}}
            </ion-col>
        </ion-row>
        <ion-row justify-content-center class="margin-top-1 txt_white txt_center">
            <ion-col col-2 class="padding-vertical-2-2 margin-half-1 margin-right-2 margin-left-2">
                <ion-row justify-content-center align-items-center class="circle-todo passenger-box-primary">
                    <span class="txt_center font-size-4-vw">{{listTodo.waitBus}}</span>
                </ion-row>
            </ion-col>
            <ion-col col-2 class="padding-vertical-2-2 margin-half-1 margin-right-2 margin-left-2">
                <ion-row justify-content-center align-items-center class="circle-todo passenger-box-secondary">
                    <span class="txt_center font-size-4-vw">{{listTodo.waitAlign}}</span>
                </ion-row>
            </ion-col>
            <ion-col col-2 class="padding-vertical-2-2 margin-half-1 margin-right-2 margin-left-2">
                <ion-row justify-content-center align-items-center class="circle-todo passenger-box-third">
                    <span class="txt_center font-size-4-vw">{{listTodo.availableOnBus}}</span>
                </ion-row>
            </ion-col>
            <ion-col col-2 class="padding-vertical-2-2  margin-half-1 margin-right-2 margin-left-2">
                <ion-row justify-content-center align-items-center class="circle-todo passenger-box-fourth">
                    <span class="txt_center font-size-4-vw">{{listTodo.aligned}}</span>
                </ion-row>
            </ion-col>
        </ion-row>
        <br/>
        <div *ngIf="passengers.length > 0" class="passenger-block">
            <ion-row class="padding-10" *ngFor="let passenger of passengers;let i = index" class="passenger-list" (click)="openModal(passenger,false)">
                <ion-col col-3 align-self-center>
                    <div style="position:relative;">
                        <img [src]="passenger.photo" class="avatar-img">
                        <div [class]="generateStatusColor(passenger.status,passenger.pickup)"></div>
                    </div>

                </ion-col>
                <ion-col col-9 align-self-center>
                    <ion-row justify-content-between>
                        <div>{{passenger.first_name}} {{passenger.surname}}</div>
                        <i class="fa fa-angle-right" style="    font-size: 6vw;margin-right: 5%;"></i>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <ion-grid ion-fixed no-padding style="bottom:0px; height:10vh;" class="all-no-padding">
        <ion-row class="h100 route-bottom-bg">
            <ion-col col-8 class="all-no-margin" align-self-center>
                <marquee behavior="scroll" direction="left" style="font-weight:bold" loop="infinite">{{routeString}}</marquee>
            </ion-col>
            <ion-col col-4 class="all-no-margin">
                <a *ngIf="!lastPoint" ion-button color="primary" class="w100 h100" (click)="enrouteDialog()">{{global.translate('EN-ROUTE')}}</a>
                <a *ngIf="lastPoint" ion-button color="dark" class="w100 h100" (click)="endroute()">{{global.translate('END')}}</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<modal id="passenger-item">
    <div class="modal">
        <div class="modal-body">
            <ion-grid no-padding>
                <ion-row justify-content-between class="modal-title">
                    <div>{{global.translate('PASSENGER INFO')}}</div>
                    <ion-icon ios="md-close" md="md-close" (click)="closeModal('passenger-item')"></ion-icon>
                </ion-row>
                <ion-row>
                    <div style="position:relative;width:100%;">
                        <img [src]="passengerItem.photo" class="modal-picture" />
                        <div [class]="generateCircleColor(passengerItem.status,passengerItem.pickup)"></div>
                        <div>
                            <i class="fas fa-info-circle" style="color:red;font-size:1.5em;" *ngIf="passengerItem.note != ''"></i>
                            <!-- <i class="fas fa-info-circle" style="color:#ccc;font-size:1.5em;" *ngIf="passengerItem.note == ''"></i> -->
                        </div>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-grid style="padding:10px;">
                        <ion-row class="margin-top-3">
                            <div><b>{{global.translate('Name')}}</b>: {{passengerItem.first_name}} {{passengerItem.surname}}</div>
                        </ion-row>
                        <!-- <ion-row class="margin-top-3">
                            <button ion-button block [disabled]="viewinstructors" [color]="colorViewInstructors">VIEW SPECIAL INSTRUTORS</button>
                        </ion-row> -->
                        <ion-row class="margin-top-1">
                            <button ion-button block color="primary" (click)="openAddNote(passengerItem)">{{global.translate('ADD NOTE')}}</button>
                        </ion-row>
                        <ion-row class="margin-top-1" *ngIf="(passengerItem.pickup == 1 && passengerItem.status == 0)||(passengerItem.pickup == 0 && passengerItem.status == 1)||(passengerItem.status == -1)">
                            <button ion-button block [disabled]="viewForceLogin" [color]="colorViewForceLogin" (click)="forceLogin(passengerItem)">{{global.translate('FORCE LOGIN')}}</button>
                        </ion-row>
                        <ion-row class="margin-top-1" *ngIf="(passengerItem.pickup == 1 && passengerItem.status == 1) || (passengerItem.pickup == 0 && passengerItem.status == 0)">
                            <button ion-button block [color]="colorViewForceLogout" (click)="forceLogout(passengerItem)">{{global.translate('FORCE LOGOUT')}}</button>
                        </ion-row>
                        <ion-row class="margin-top-1">
                            <button ion-button block color="primary" (click)="closeModal('passenger-item')">{{global.translate('PASSENGER LIST')}}</button>
                        </ion-row>
                    </ion-grid>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="warning-popup">
    <div class="modal">
        <div class="modal-body">
            <ion-grid no-padding>
                <ion-row justify-content-between class="modal-title">
                    <div>{{global.translate('FAILED BOARDING LIST')}}</div>
                    <ion-icon ios="md-close" md="md-close" (click)="closeModal('warning-popup')"></ion-icon>
                </ion-row>
                <ion-row>
                    <div style="position:relative;width:100%;text-align:center">
                        <img [src]="failedItem.icon" class="modal-icon" />
                    </div>
                </ion-row>
                <ion-row>
                    <ion-grid style="padding:10px;">
                        <ion-row class="margin-top-3">
                            <div><b>{{global.translate(failedItem.title)}}</b></div>
                        </ion-row>
                        <ion-row class="margin-top-3" *ngIf="failedItem.shouldBeAddress">
                            <div><b>{{global.translate('Should Be:')}}  {{failedItem.shouldBeAddress}}?</b></div>
                        </ion-row>
                        <ion-row class="margin-top-3" *ngIf="!failedItem.notAllow">
                            <button ion-button block color="secondary" (click)="failedItem.callback()">{{global.translate('ALLOW')}}</button>
                        </ion-row>
                        <ion-row class="margin-top-1" *ngIf="!failedItem.notAllow">
                            <button ion-button block color="danger" (click)="closeModal('warning-popup')">{{global.translate('CANCEL')}}</button>
                        </ion-row>
                    </ion-grid>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>