
.modal-stopwork-wrapper{

    .scroll-content{
        background: url(../../www/assets/img/icon_time.png);
        background-repeat: no-repeat;
        background-position: 0px 30px;
        background-size: 100%;
    }

    font-size: 3vh;

    .modal-wrapper{
        height: 25vh;
    }
    .content-box{
        line-height: 2;
    }
}