<ion-header class="page-header-custom bg_blue_alice">

    <ion-navbar>
        <button right ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="txt_center">
        <div class="w100 h100 dis-t">
            <div class="dis-tc ver-mid">  
                <div class="color_blue_midnight">
                    <div class="ver-sup ib page-header-custom-title txt_bold">
                        JOBS
                    </div>
                </div>
            </div>
        </div>
        </ion-title>
    </ion-navbar>

    <div padding class="w100 h50px bg_blue_royal" *ngIf="isVehicleSignedIn == true" (click)="openSignOutDialog()">
      <div class="ib ver-mid w25px">
        <img src="assets/img/signin_spot.png" alt="">
      </div>

      <div class="txt_white ib ver-mid mg-left-10">
        Signed in : {{ signedin_vehicle_name }}
      </div>
  </div>

</ion-header>

<ion-content>

    <div padding ion-row>
        <ion-item class="pd-left-no bg_blue_royal">
            <ion-select [(ngModel)]="job_status" class="txt_bold txt_white">
                <ion-option value="0">Status</ion-option>
                <ion-option value="1">Inprogress</ion-option>
                <ion-option value="2">On Site</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div padding class="pd-no-top">
        <div ion-row class="border-around">
            <div col-6>
                <div>
                    <strong> JOB ID:</strong> {{qid}}
                </div>
                <div class="txt_bold">
                    Departure time 13:00
                </div>
                <div class="txt_bold">
                    Passenger Name :
                </div>
                <div class="txt_bold">
                    Passenger Phone :
                </div>
            </div>
            <div col-6>
                <div>
                    <i class="icon icon-Agenda color_gold"></i>
                    1st Jan 2017
                </div>
                <div class="txt_bold">
                    On site before 12:30
                </div>
                <div>
                    Mr.smith
                </div>
                <div>
                    +66 (0) 1234567
                </div>
            </div>
            <div col-12>
                <div col-8 class="mg-auto border-around txt_center">
                    <div col-5 class="ib color_green_forest">
                        <i class="icon icon-Dollars"></i>
                        $ 10.25
                    </div>
                    <div col-5 class="ib color_green_forest">
                        $ 50.2
                    </div>
                </div>
            </div>
            <div col-12 class="txt_center pd-no">
                <div col-6 class="h40px fl bg_blue_royal txt_white txt_bold gravity-center-vertical">
                    <div>
                        ACCEPT
                    </div>
                </div>
                <div col-6 class="h40px fl bg_red txt_white txt_bold gravity-center-vertical">
                    <div>
                        REJECT
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noResult == true" class="w100 h40px txt_center bg_blue_royal_light txt_white">
        <div class="w100 h100 dis-t">
            <div class="w100 dis-tc ver-mid f-size-15px">
                No Result
            </div>
        </div>
    </div>
    <div *ngIf="loading == true" class="w100 h40px txt_center bg_blue_royal_light txt_white">
        <div class="w100 h100 dis-t">
            <div class="w100 dis-tc ver-mid f-size-15px">
                Loading . . .
            </div>
        </div>
    </div>
    <div *ngIf="loading == false">
        <div class="" *ngFor="let j of journey">
            <div class="h40px gravity-center-vertical txt_white txt_bold bg_blue_royal" >
                <div padding>
                    Journey {{ j.journey_group }}
                </div>
            </div>
            <div class="">
                <div ion-row class="" *ngFor="let m of j.movement">
                    <div col-1 class="gravity-center-vertical">
                        <div class="mg-auto">
                            <img src="assets/img/icon_movement.png" alt="" class="logo-header ver-sub img_movement">
                        </div>
                    </div>
                    <div col-8 class="gravity-center-vertical">
                        <div>
                            {{ m.collection_address }}
                        </div>
                        <div>
                            {{ m.destination_address }}
                        </div>
                    </div>
                    <div col-3 class="gravity-center-vertical txt_right">
                        <div>
                            <i class="icon icon-Time"></i> {{ m.time }}
                        </div>
                        <div>
                            {{ m.date }}
                        </div>
                    </div>
                    <div class="w100">
                        <div style="
                            height: 1px;
                            width: 95%;
                            background: #e1e1e1;
                            margin: auto;
                        "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</ion-content>