<ion-header class="page-header-custom bg_blue_alice">

    <ion-navbar>
        <button right ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="txt_center">
            <div class="w100 h100 dis-t">
                <div class="dis-tc ver-mid">
                    <div class="color_blue_midnight">
                        <div class="ver-sup ib page-header-custom-title txt_bold">
                            JOBS
                        </div>
                    </div>
                </div>
            </div>
        </ion-title>
    </ion-navbar>

    <div padding class="w100 h50px bg_blue_royal" *ngIf="isVehicleSignedIn == true" (click)="openSignOutDialog()">
        <div class="ib ver-mid w25px">
            <img src="assets/img/signin_spot.png" alt="">
        </div>

        <div class="txt_white ib ver-mid mg-left-10">
            {{global.translate('Signed in')}} : {{ signedin_vehicle_name }}
        </div>
    </div>

</ion-header>

<ion-content>

    <!-- <div padding ion-row>
        <ion-item class="pd-left-no bg_blue_royal">
            <ion-select [(ngModel)]="job_status" class="txt_bold txt_white">
                <ion-option value="0">Status</ion-option>
                <ion-option value="1">Inprogress</ion-option>
                <ion-option value="2">On Site</ion-option>
            </ion-select>
        </ion-item>
    </div> -->

    <div padding class="pd-no-top margin-top-2">
        <div ion-row [ngClass]="{'border-around border-bottom-less':true}">
            <ion-grid padding (click)="showNote('DRIVER NOTES', job.driver_notes)">
                <ion-row justify-content-end *ngIf="job.driver_notes != ''">
                    <i class="fas fa-info-circle" style="color:red;font-size:1.5em;"></i>
                </ion-row>
                <ion-row justify-content-end *ngIf="job.driver_notes == ''">
                    <i class="fas fa-info-circle" style="color:ccc;font-size:1.5em;"></i>
                </ion-row>
            </ion-grid>
        </div>
        <div ion-row [ngClass]="{'border-around':true, 'border-top-less': true}">
            <div col-6>
                <div>
                    <strong> {{global.translate('JOB ID')}}:</strong> {{job.quote_id}}
                </div>
                <div class="txt_bold">
                    {{global.translate('Departure time')}} {{job.time_departure}}
                </div>
                <div class="txt_bold">
                    {{global.translate('Passenger Name')}} :
                </div>
                <div class="txt_bold">
                    {{global.translate('Passenger Phone')}} :
                </div>
            </div>
            <div col-6>
                <div>
                    <i class="icon icon-Agenda color_gold"></i> {{job.date_departure}}
                </div>
                <div class="txt_bold">
                    {{global.translate('On site before')}} {{job.onsite_before}}
                </div>
                <div>
                    {{job.passenger_name}}
                </div>
                <div>
                    {{job.passenger_num}}
                </div>
            </div>
            <div col-12>
                <div col-8 class="mg-auto border-around txt_center">
                    <div col-5 class="ib color_green_forest">
                        <i class="icon icon-Dollars"></i> {{global.translate('$')}} {{job.driver_pay}}
                    </div>
                    <div col-5 class="ib color_green_forest">
                        {{global.translate('$')}} {{job.price}}
                    </div>
                </div>
            </div>
            <div col-12 class="txt_center pd-no" *ngIf="!alreadyAccept">

                <div col-6 class="h40px fl bg_red txt_white txt_bold gravity-center-vertical">
                    <div>
                        {{global.translate('REJECT')}}
                    </div>
                </div>
                <div col-6 class="h40px fl bg_blue_royal txt_white txt_bold gravity-center-vertical" (click)="acceptJob()">
                    <div>
                        {{global.translate('ACCEPT')}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noResult == true" class="w100 h40px txt_center bg_blue_royal_light txt_white">
        <div class="w100 h100 dis-t">
            <div class="w100 dis-tc ver-mid f-size-15px">
                {{global.translate('No Result')}}
            </div>
        </div>
    </div>
    <div *ngIf="loading == true" class="w100 h40px txt_center bg_blue_royal_light txt_white">
        <div class="w100 h100 dis-t">
            <div class="w100 dis-tc ver-mid f-size-15px">
                {{global.translate('Loading')}} . . .
            </div>
        </div>
    </div>
    <div *ngIf="loading == false && arrowIcons.length > 0">
        <div class="" *ngFor="let j of journey;let ji = index">
            <div class="h10vh gravity-center-vertical txt_white txt_bold bg_blue_royal" *ngIf="arrowIcons.length > 0">
                <div (click)="toggleShowJourney(ji)">
                    <ion-grid class="padding-5">
                        <ion-row justify-content-between align-items-center>
                            <span>{{global.translate('Journey')}} {{ j.journey_group }}</span>
                            <ion-icon [ios]="arrowIcons[ji].icon" [md]="arrowIcons[ji].icon"></ion-icon>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
            <!--(click)="openPassenger(m.movement_id,m.collection_address,m.destination_address,m.progress)"-->
            <div class="" *ngIf="arrowIcons[ji].show && arrowIcons.length > 0">
                <div ion-row class="padding-left-3 padding-right-3 margin-bottom-3 margin-top-3" *ngIf="alreadyAccept">
                    <button ion-button block color="primary" (click)="startJob(ji)" *ngIf="startJourney[ji].progress == 0">{{global.translate('EN-ROUTE')}}</button>
                    <button ion-button block color="dark" (click)="endroute(ji)" *ngIf="showEndButtonofJourney(ji)">{{global.translate('END')}}</button>
                </div>
                <div ion-row style="border-bottom:1px solid #ccc" [ngClass]="{
                  'padding-top-5 padding-bottom-5': true,
                  'disable-row': !alreadyAccept,
                  'bg_grey':m.progress == 10 || m.progress == 8,
                  'bg_green_lime': isCurrentPoint(m.movement_order)
                }" *ngFor="let m of j.movement;let i = index">
                    <div col-1 class="gravity-center-vertical">
                        <div class="mg-auto" (click)="showNote('COLLECTION NOTES', m.collection_notes)">
                            <!-- <img src="assets/img/icon_movement.png" alt="" class="logo-header ver-sub img_movement"> -->
                            <i class="fas fa-info-circle" style="color:red;font-size:1.5em;" *ngIf="m.collection_notes != ''"></i>
                            <i class="fas fa-info-circle" style="color:ccc;font-size:1.5em;" *ngIf="m.collection_notes == ''"></i>
                        </div>
                    </div>
                    <div col-8 class="gravity-center-vertical" (click)="openViewRoute(m,ji,i)">
                        <div *ngIf="i != (j.movement.length-1)">
                            {{ m.collection_address }}
                        </div>
                        <div *ngIf="i == (j.movement.length-1)">
                            {{ m.destination_address }}
                        </div>
                    </div>
                    <div col-3 class="gravity-center-vertical txt_right" (click)="openViewRoute(m,ji,i)">
                        <div *ngIf="i != (j.movement.length-1)">
                            <i class="icon icon-Time"></i> {{ m.time }}
                        </div>
                        <div *ngIf="i == (j.movement.length-1)">
                            <i class="icon icon-Time"></i> {{ m.timeEnd }}
                        </div>
                        <div>
                            {{ m.date }}
                        </div>
                    </div>
                    <!-- <div class="w100">
                        <div style="
                            height: 1px;
                            width: 95%;
                            background: #e1e1e1;
                            margin: auto;
                        "></div>
                    </div> -->
                </div>
            </div>
        </div>
        <div *ngIf="showAllJob && journeyOther.length > 0">
            <div class="" *ngFor="let j of journeyOther">
                <div class="disable-row-header h40px gravity-center-vertical txt_white txt_bold bg_blue_royal">
                    <div padding>
                        {{global.translate('Journey')}} {{ j.journey_group }}
                    </div>
                </div>
                <div class="">
                    <div ion-row class="disable-row" *ngFor="let m of j.movement; let i = index">
                        <div col-1 class="gravity-center-vertical">
                            <div class="mg-auto">
                                <!-- <img src="assets/img/icon_movement.png" alt="" class="logo-header ver-sub img_movement"> -->
                            </div>
                        </div>
                        <div col-8 class="gravity-center-vertical">
                            <div *ngIf="i != (j.movement.length-1)">
                                {{ m.collection_address }}
                            </div>
                            <div *ngIf="i == (j.movement.length-1)">
                                {{ m.destination_address }}
                            </div>
                        </div>
                        <div col-3 class="gravity-center-vertical txt_right">
                            <div *ngIf="i != (j.movement.length-1)">
                                <i class="icon icon-Time"></i> {{ m.time }}
                            </div>
                            <div *ngIf="i == (j.movement.length-1)">
                                <i class="icon icon-Time"></i> {{ m.timeEnd }}
                            </div>
                            <div>
                                {{ m.date }}
                            </div>
                        </div>
                        <div class="w100">
                            <div style="
                                height: 1px;
                                width: 95%;
                                background: #e1e1e1;
                                margin: auto;
                            "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <modal id="route-item" google="true" googleEle="#map" [route]="routeForModal">
        <div class="modal">
            <div class="modal-body">
                <ion-grid no-padding>
                    <ion-row justify-content-between class="modal-title">
                        <div>{{global.translate('ROUTE INFO')}}</div>
                        <ion-icon ios="md-close" md="md-close" (click)="closeViewRoute()"></ion-icon>
                    </ion-row>
                    <ion-row>
                        <div style="position:relative;width:100%;">
                            <div id="map" style="height:35vh;"></div>
                            <div class="passenger-status-cirle passenger-box-primary" (click)="openNavigation()">
                                <ion-grid no-padding style="height:100%;">
                                    <ion-row justify-content-center align-items-center style="height:inherit;">
                                        <ion-icon name="send" ios="ios-send" md="ios-send" style="font-size:5vw;color:#fff;"></ion-icon>
                                    </ion-row>
                                </ion-grid>
                            </div>
                        </div>
                    </ion-row>
                    <ion-row style="margin-top:5px;">
                        <ion-grid style="padding:10px;">
                            <ion-row>
                                <div><b>{{global.translate('Next Stop')}}</b>: {{onSiteDetail.next_place}}</div>
                            </ion-row>
                            <ion-row class="margin-top-3">
                                <button ion-button color="primary" block (click)="openWholeRoute()">{{global.translate('View Route')}}</button>
                            </ion-row>
                            <ion-row class="margin-top-1">
                                <button ion-button color="danger" block (click)="openPassenger(onSiteDetail.movement,onSiteDetail.isLast,onSiteDetail.isFirst)">{{global.translate('On Site')}}</button>
                            </ion-row>
                        </ion-grid>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>
    <modal id="popup-item">
        <div class="modal">
            <div class="modal-body">
                <ion-grid no-padding>
                    <ion-row justify-content-between class="modal-title">
                        <div>{{global.translate(popUpTitle)}}</div>
                        <ion-icon ios="md-close" md="md-close" (click)="closeModal('popup-item')"></ion-icon>
                    </ion-row>
                    <ion-row>
                        <ion-grid style="padding:10px;">
                            <ion-row class="margin-top-3">
                                <div>{{popUpMessage}}</div>
                            </ion-row>
                            <!-- <ion-row class="margin-top-3">
                                <button ion-button block [disabled]="viewinstructors" [color]="colorViewInstructors">VIEW SPECIAL INSTRUTORS</button>
                            </ion-row> -->
                        </ion-grid>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

</ion-content>