page-viewjob{
    ion-select{
        max-width: 100%;
        width: 100%;
    }
    ion-select .select-text{
        text-align: center
    }
    ion-select .select-icon-inner{
        color: #FFF !important;
    }
    .img_movement{
        width: 9px;
        height: 25px;
        //image-rendering: pixelated;
    }

}